.snap-container {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin: 0; padding: 0;
}
section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex; justify-content: center; align-items: center;
}
video {
  width: 100vw; height: 100vh; object-fit: cover;
}